.projects {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.projects h1 {
    font-family: 'Metropolis-black', sans-serif;
    color: var(--title-color);
    font-size: calc(2rem + 1.5vw);
    text-transform: uppercase;
}

.container__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10vw;
    row-gap: 5em;
    padding: 0 1em;
}

.cardProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: var(--secundary-color);
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
    border-radius: 2em;
    padding: .8em 1.5em 3em 1.5em;
}

.cardImg div {
    width: 100%;
    max-width: 430px;
}

.cardImg div img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 2.5em;
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
}

.cardTitle h2 {
    font-family: 'Coolvetica-Regular';
    color: var(--title-color);
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: calc(.9rem + 0.9vw);
}

.cardButtons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.cardButtons a {
    width: 35%;
    text-align: center;
    background: var(--btn-primary);
    font-family: 'TASAOrbiterText-Regular';
    text-decoration: none;
    text-transform: uppercase;
    font-size: calc(.4rem + .5vw);
    color: var(--primary-color);
    padding: 1.5vh 0;
    border-radius: .9em;
    transition: all .2s ease-in-out;
}

.cardButtons a:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.cardButtons a:active {
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}

.cardButtons {
    margin-top: 1em;
}

@media screen and (max-width: 991px) {
    .projects {
        height: 260vh;
    }

    .container__projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .cardTitle h2 {
        font-size: calc(1rem + 1.2vw);
    }

    .cardProjects {
        padding: .8em 1em 2em 1em;
        margin: 0 .5em;
    }

    .cardImg div {
        max-width: 350px;
    }

    .cardButtons a {
        font-size: calc(.5rem + .8vw);
    }
}

@media screen and (max-width: 991px) and (min-width: 920px) {
    .projects {
        height: 150vh;
    }
}
