@font-face {
    font-family: "Coolvetica-Regular";
    src: url("../fonts/Coolvetica-Regular.otf") format(opentype);
    font-weight: Regular;
    font-style: normal;
}

@font-face {
    font-family: "TASAOrbiterText-Regular";
    src: url("../fonts/TASAOrbiterText-Regular.otf");
    font-weight: Regular;
    font-style: normal;
}

@font-face {
    font-family: "TASAOrbiterText-Medium";
    src: url("../fonts/TASAOrbiterText-Medium.otf");
    font-weight: Medium;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-black";
    src: url("../fonts/Metropolis-black.otf");
    font-weight: Regular;
    font-style: normal;
}




:root, :root[data-theme='dark'] {

    --bg-color: linear-gradient(180deg, #121212 0%, #1F2937 100%);
    --primary-color: #121212;
    --secundary-color: #1F2937;
    --border-color: #374151;

    --title-color: #E5E7EB;
    --text-color: rgba(156, 163, 175, 0.7);
    --text-hover-color:#9dc1ff;
    --btn-primary: #60A5FA;
    --link-color: #60A5FA;

}

:root[data-theme='light'] {

    --bg-color: linear-gradient(180deg, #F9FAFB 0%, #e4e4e4 100%);
    --primary-color: #F9FAFB;
    --secundary-color: #EEEEEE;
    --border-color: #E5E7EB;

    --title-color: #1E1E1E;
    --text-color: rgba(107, 114, 128, 0.7);
    --text-hover-color: #4b93ff;
    --btn-primary: #2563EB;
    --link-color: #2563EB;
}

html {
    background: var(--bg-color);
    background-repeat: no-repeat;
    min-height: 100%;
    transition: background .4s ease-in-out;
}

body {
    background: transparent;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

i {
    color: var(--text-color);
    font-size: calc(1.2em + 0.8vw);
    cursor: pointer;
    transition: ease-in-out .4s;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1.2vh;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--secundary-color);
    width: 56%;
    border-radius: 2em;
    box-shadow: 
        0 2px 8px 0 rgba(0,0,0,0.10),
        0 8px 32px 0 rgba(55, 65, 81, 0.25);
    transition: background .4s ease-in-out;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header__brand a img{
    width: calc(2.5em + 1.5vw);
    border: 65em;
}

.menu__desktop ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

.menu__desktop ul li {
    transition: .4s ease-in-out;
}

.menu__desktop ul li a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    font-family: 'TASAOrbiterText-Regular',sans-serif;
    font-weight: Regular;
    font-size: calc(0.93rem + 0.2vw);
    transition: color .3s ease-in-out;
}

.menu__desktop ul li a:hover, .menu__desktop ul li:hover  {
    color: var(--text-hover-color);
    transition: .3 ease-in-out;
    transform: scale(1.05);
}

.header__actions {
    border: none;
    background-color: transparent;
    transition: .3s ease-in-out;
}

#toggleMenu {
    display: none;
}

.header__actions i:hover, .header__actions:hover {
    transform: scale(1.2);
    color: var(--text-hover-color);
}

.menu__hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background: var(--secundary-color);
    border-top:var(--text-color) 0px solid;

    transition: max-height 0.4s ease-in-out,
                border-top 0.3s ease-in-out,
                padding 0.3s ease-in-out; 
}

.menu__hidden ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
    opacity: 0;

    transition: opacity 0.4s ease-in-out,
                gap 0.4s ease-in-out;
}

.menu__hidden ul li {
    text-align: center;
    transform: translateY(-40px) scale(0.8);

    transition: transform 0.3s ease-in-out;
}

.menu__active {
    max-height: 100vh;
    width: 90%;
    padding: 10em;
    border-top:var(--text-color) 1px solid;

    transition: max-height 0.6s ease-in-out,
                border-top 0.5s ease-in-out,
                padding 0.5s ease-in-out; 
}

.menu__active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    opacity: 1;
    
    transition: opacity 0.4s ease-in-out 0.2s,
                gap 0.4s ease-in-out;
}

.menu__active ul li {
    text-align: center;

    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out 0.3s;
}

.menu__active ul li a, .menu__hidden ul li a  {
    color: var(--text-color);
    font-family: 'TASAOrbiterText-Medium',sans-serif;
    text-decoration: none;
    font-size: calc(1.8rem + 1vw);
    transition: color 0.3s ease-in-out;
}

main h1, main p {
    text-align: center;
}

main h1 {
    color: var(--title-color);
    font-family: 'Metropolis-black', sans-serif;
    font-size: calc(3.5rem + 5vw);
    align-self: center;
    margin-bottom: .1em;
}

main p {
    letter-spacing: 1px;
    font-size: calc(0.7rem + 0.4vw);    
}

p {
    color: var(--text-color);
    font-family: 'TASAOrbiterText-Medium', sans-serif;
}

main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

main nav i {
    font-size: calc(1.5rem + 2vw);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding: 4em;
}

section {
    height: 100vh;
}

.containerAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me h1 {
    font-family: 'Metropolis-black', sans-serif;
    color: var(--title-color);
    font-size: calc(2rem + 1.5vw);
    text-transform: uppercase;
}

h4, p {
    font-family: 'Coolvetica-Regular';
}

#about-me h4 {
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(0.5rem + 0.5vw);
}

#about-me p {
    color: var(--title-color);
    font-size: calc(1.5rem + 1.5vw);
}

.container__aboutMe__desktop {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 2fr 1.25fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
    padding: 0em 4vw;
}

.aboutMe__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 1.3em;
}

.aboutMe__sideLeft div, .aboutMe__sideRight div  {
    max-width: 1;
}

.aboutMe__sideLeft { 
    justify-self: left;
    text-align: left;
}

.aboutMe__sideLeft hr, .aboutMe__sideRight hr {
    margin: 2em 0;
}

.aboutMe__middle {
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 450px;
    background: transparent;
}

.aboutMe__middle img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 2.5em;
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
}

.aboutMe__sideRight {
    justify-self: right;
    text-align: right;

}

.container__aboutMe__mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 0 .6em;
}

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.skills h1 {
    font-family: 'Metropolis-black', sans-serif;
    color: var(--title-color);
    font-size: calc(1.5rem + 2vw);
    text-align: center;
    text-transform: uppercase;
}

.container__skills {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1.25fr;
    justify-items: center;
    align-items: start;
    gap: 4vw;
    padding: 0 1.5vw;
}

.skills__sideLeft, .skills__sideRight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    align-items: start;
    justify-items: center;
    gap: 1.5em;
    background-color: var(--secundary-color);
    padding: 2vw 5vw;
    border-radius: 2em;
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
}

.skills__sideRight {
    height: 100%;
}

.title__skills {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.title__skills i, .title__skills h2 {
    color: var(--title-color);
}

.title__skills i {
    font-size: calc(1.5rem + 2.5vw);
}

.title__skills h2 {
    font-family: 'Coolvetica-Regular';
    font-size: calc(1rem + 1.5vw);
    text-align: center;
}

.skills__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills__brand .leftSide, .skills__brand .rightSide {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.skills__sideLeft .skills__brand .leftSide {
    margin-right: 5vw;
}

.skills__middle {
    align-self: center;
    background-color: var(--text-color);
    width: 1px;
    height: 90%;
}

.leftSide i, .rightSide i {
    color: var(--title-color);
    font-size: calc(1.5rem + 2.5vw);
}

.learning {
    height: 50vh;
}

.container__learning {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.titleLearning h2 {
    color: var(--title-color);
    font-family: 'Coolvetica-Regular', sans-serif;
    font-size: calc(1rem + 1.5vw);
    text-align: center;
    margin-bottom: .1em;
}

.titleLearning p {
    text-align: center;
    font-family: 'TASAOrbiterText-Regular', sans-serif;
    font-size: calc(.5rem + .5vw);
}

.learning__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.learning__brand i {
    color: var(--title-color);
    font-size: calc(1.25rem + 2vw)
}

.projects {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.projects h1 {
    font-family: 'Metropolis-black', sans-serif;
    color: var(--title-color);
    font-size: calc(2rem + 1.5vw);
    text-transform: uppercase;
}

.container__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10vw;
    row-gap: 5em;
    padding: 0 1em;
}

.cardProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: var(--secundary-color);
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
    border-radius: 2em;
    padding: .8em 1.5em 3em 1.5em;
}

.cardImg div {
    width: 100%;
    max-width: 430px;
}

.cardImg div img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 2.5em;
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
}

.cardTitle h2 {
    font-family: 'Coolvetica-Regular';
    color: var(--title-color);
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: calc(.9rem + 0.9vw);
}

.cardButtons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.cardButtons a {
    width: 35%;
    text-align: center;
    background: var(--btn-primary);
    font-family: 'TASAOrbiterText-Regular';
    text-decoration: none;
    text-transform: uppercase;
    font-size: calc(.4rem + .5vw);
    color: var(--primary-color);
    padding: 1.5vh 0;
    border-radius: .9em;
    transition: all .2s ease-in-out;
}

.cardButtons a:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.cardButtons a:active {
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}

.cardButtons {
    margin-top: 1em;
}

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1, .contact p {
    text-align: center;
}

.contact h1 {
    color: var(--title-color);
    font-family: 'Metropolis-black', sans-serif;
    font-size: calc(3rem + 4.5vw);
    align-self: center;
}

.contact p {
    letter-spacing: 1px;
    font-size: calc(0.7rem + 0.4vw);
    width: 60%;    
}

.contact nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

.contact nav i {
    font-size: calc(1.5rem + 2vw);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-color);
    height: 9vh;
    text-align: center;
    box-shadow: 
        0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 8px 32px 0 rgba(55, 65, 81, 0.5);
}

footer p {
    font-size: calc(.5rem + .6vw);
}

@media screen and (max-width: 991px) {
    i {
        font-size: calc(1.7rem + 0.8vw);
    }

    #toggleMenu {
        font-size: calc(2.2rem + 0.8vw);
    }

    .container-header {
        width: 95%;
    } 

    .header__nav {
        justify-content: space-between;
        padding: 0 2em;
    }

    .header__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(1em + 0.5vw);
    }

    .header__actions i:hover, .header__actions:hover {
        color: var(--text-color);
    }

    #toggleMenu {
        display: block;
    }

    .menu__desktop {
        display: none;
    }

    main {
        padding: 2rem;
    }

    main nav i {
        font-size: calc(2rem + 3vw);
    }

    .container__aboutMe__desktop {
        display: none;
    }

    .container__aboutMe__mobile {
        display: flex;
    }

    #about-me p {
        font-size: calc(1rem + 2vw);
    }

    .aboutMe__middle {
        padding: 0 4vw;
        max-width: 55vw;
    }

    .aboutMe__sideLeft hr, .aboutMe__sideRight hr {
        margin: 1em 0;
    }

    .skills {
        height: 150vh;
    }

    .container__skills {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        gap: 3em;
        width: 100%;
    }

    .skills__sideLeft {
        gap: 4vh;
    }

    .skills__sideRight {
        gap: 3em;
    }

    .skills__sideLeft, .skills__sideRight {
        align-items: center;
        padding: 1vh 5vw 4vh 5vw;
    }

    .skills__sideLeft .skills__brand .rightSide {
        margin-left: 5vw;
    }

    .skills__middle {
        display: none;
    }

    .skills__sideRight .skills__brand {
        align-self: self-start;
    }

    .title__skills i {
        font-size: calc(2.5rem + 3.5vw);
    }

    .title__skills h2 {
        font-size: calc(2rem + 2.5vw);
    }

    .leftSide i, .rightSide i {
        font-size: calc(3rem + 3vw);
    }

    .titleLearning h2 {
        font-size: calc(1.6rem + 2vw);
    }

    .titleLearning p {
        font-size: calc(.75rem + .75vw);
    }

    .learning__brand {
        gap: 8vw;
    }

    .learning__brand i {
        font-size: calc(2rem + 3vw);
    }

    .projects {
        height: 260vh;
    }

    .container__projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .cardTitle h2 {
        font-size: calc(1rem + 1.2vw);
    }

    .cardProjects {
        padding: .8em 1em 2em 1em;
        margin: 0 .5em;
    }

    .cardImg div {
        max-width: 350px;
    }

    .cardButtons a {
        font-size: calc(.5rem + .8vw);
    }

    .contact nav i {
        font-size: calc(2rem + 3vw);
    }

    footer p {
        font-size: calc(.8rem + .9vw);
    }

    *:hover {
        transform: none;
    }

    *:active {
        transform: none;
    }
    
}

@media screen and (max-width: 991px) and (min-width: 920px) {
    .skills {
        height: 150vh;
    }

    .projects {
        height: 150vh;
    }
}

