@font-face {
    font-family: "Coolvetica-Regular";
    src: url("../fonts/Coolvetica-Regular.otf") format(opentype);
    font-weight: Regular;
    font-style: normal;
}

@font-face {
    font-family: "TASAOrbiterText-Regular";
    src: url("../fonts/TASAOrbiterText-Regular.otf");
    font-weight: Regular;
    font-style: normal;
}

@font-face {
    font-family: "TASAOrbiterText-Medium";
    src: url("../fonts/TASAOrbiterText-Medium.otf");
    font-weight: Medium;
    font-style: normal;
}


:root, :root[data-theme='dark'] {

    --bg-color: linear-gradient(180deg, #121212 0%, #1F2937 100%);
    --primary-color: #121212;
    --secundary-color: #1F2937;
    --border-color: #374151;

    --title-color: #E5E7EB;
    --text-color: #9CA3AF;
    --text-hover-color:#9dc1ff;
    --btn-primary: #60A5FA;
    --link-color: #60A5FA;

}

:root[data-theme='light'] {

    --bg-color: linear-gradient(180deg, #F9FAFB 0%, #e4e4e4 100%);
    --primary-color: #F9FAFB;
    --secundary-color: #EEEEEE;
    --border-color: #E5E7EB;

    --title-color: #1E1E1E;
    --text-color: #6B7280;
    --text-hover-color: #4b93ff;
    --btn-primary: #2563EB;
    --link-color: #2563EB;
}

html {
    background: var(--bg-color);
    background-repeat: no-repeat;
    min-height: 100%;
    transition: background .4s ease-in-out;
}

body {
    background: transparent;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

i {
    color: var(--text-color);
    font-size: calc(1.2em + 0.8vw);
    cursor: pointer;
    transition: ease-in-out .4s;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2vh;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--secundary-color);
    width: 56%;
    border-radius: 2em;
    box-shadow: 
        0 2px 8px 0 rgba(0,0,0,0.10),
        0 8px 32px 0 rgba(55, 65, 81, 0.25);
    transition: background .4s ease-in-out;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header__brand a img{
    width: calc(2.5em + 1.5vw);
    border: 65em;
}

.menu__desktop ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

.menu__desktop ul li {
    transition: .4s ease-in-out;
}

.menu__desktop ul li a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    font-family: 'TASAOrbiterText-Regular',sans-serif;
    font-weight: Regular;
    font-size: calc(0.93rem + 0.2vw);
    transition: color .3s ease-in-out;
}

.menu__desktop ul li a:hover, .menu__desktop ul li:hover  {
    color: var(--text-hover-color);
    transition: .3 ease-in-out;
    transform: scale(1.05);
}

.header__actions {
    border: none;
    background-color: transparent;
    transition: .3s ease-in-out;
}

#toggleMenu {
    display: none;
}

.header__actions i:hover, .header__actions:hover {
    transform: scale(1.2);
    color: var(--text-hover-color);
}

.menu__hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background: var(--secundary-color);
    border-top:var(--text-color) 0px solid;

    transition: max-height 0.4s ease-in-out,
                border-top 0.3s ease-in-out,
                padding 0.3s ease-in-out; 
}

.menu__hidden ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
    opacity: 0;

    transition: opacity 0.4s ease-in-out,
                gap 0.4s ease-in-out;
}

.menu__hidden ul li {
    text-align: center;
    transform: translateY(-40px) scale(0.8);

    transition: transform 0.3s ease-in-out;
}

.menu__active {
    max-height: 1000px;
    width: 90%;
    padding: 10em;
    border-top:var(--text-color) 1px solid;

    transition: max-height 0.6s ease-in-out,
                border-top 0.5s ease-in-out,
                padding 0.5s ease-in-out; 
}

.menu__active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    opacity: 1;
    
    transition: opacity 0.4s ease-in-out 0.2s,
                gap 0.4s ease-in-out;
}

.menu__active ul li {
    text-align: center;

    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out 0.3s;
}

.menu__active ul li a, .menu__hidden ul li a  {
    color: var(--text-color);
    font-family: 'TASAOrbiterText-Regular',sans-serif;
    font-weight: Medium;
    text-decoration: none;
    font-size: calc(1.8rem + 1vw);
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
    i {
        font-size: calc(1.7em + 0.8vw);
    }

    #toggleMenu {
        font-size: calc(2.2em + 0.8vw);
    }

    .container-header {
        width: 95%;
    } 

    .header__nav {
        justify-content: space-between;
        padding: 0 2em;
    }

    .header__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(1em + 0.5vw);
    }

    .header__actions i:hover, .header__actions:hover {
        transform: none;
    }

    #toggleMenu {
        display: block;
    }

    .menu__desktop {
        display: none;
    }
        
}

